/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2017, 7:12:07 PM
    Author     : brendan
*/

.color-picker {
    -fx-padding: 2px;
}

.edit_toolbar_row {
    -fx-padding: 0px;
    -fx-spacing: 10;
    -fx-background-color: #ddddff;
    -fx-background-radius: 5.0;
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.color_chooser_pane {
    -fx-background-color:seashell;
    -fx-padding: 0px;
}

.color_chooser_control {
    -fx-font-weight:bold;
    -fx-font-size:20;     
}

.bordered_pane {
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.right_bordered_pane{
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}