/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2017, 7:12:07 PM
    Author     : brendan
*/

.color-picker {
    -fx-padding: 2px;
}

.edit_toolbar_row {
    -fx-padding: 0px;
    -fx-spacing: 10;
    -fx-background-color: #bde6fd;
    -fx-background-radius: 5.0;
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-border-width: 2px;
    -fx-border-color: #000000;
}

.color_chooser_pane {
    -fx-background-color:seashell;
    -fx-padding: 0px;
}

.color_chooser_control {
    -fx-font-weight:bold;
    -fx-font-size:20;
    -fx-label-padding: 0 30 0 0;
}

.bordered_pane {
    -fx-background-color: #9dd9fd;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #000000;
}

.right_bordered_pane{
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.multi_HBox_row{
    -fx-padding: 0px;
    -fx-spacing: 10;
    -fx-background-color: #bde6fd;
    -fx-background-radius: 5.0;
    -fx-padding: 4;
    -fx-spacing: 8;
    -fx-border-width: 2px;
    -fx-border-color: #bde6fd;
}

.find_Route_Row{    
    -fx-padding: 0px;
    -fx-spacing: 10;
    -fx-background-color: #bde6fd;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 30;
    -fx-border-width: 2px;
    -fx-border-color: #bde6fd;
}

.nav_Label{
    -fx-font-weight:bold;
    -fx-font-size:20;
    -fx-label-padding: 0 250 0 0;
}

.nav_Bottom_Row{
    -fx-padding: 0px;
    -fx-spacing: 10;
    -fx-background-color: #bde6fd;
    -fx-background-radius: 5.0;
    -fx-padding: 3;
    -fx-spacing: 25;
    -fx-border-width: 2px;
    -fx-border-color: #bde6fd;
}

.file_row {
    -fx-padding: 0px;
    -fx-spacing: 10;
    -fx-background-color: #bde6fd;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #bde6fd;
}